<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>My name {{ site.data.me.name }} is {{ site.data.me.name | length }} letters long</li>
          <li>&copy; {{ site.data.me.name | upcase }} - {{ now | date: '%Y' }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <h3>Members</h3>
        <ul class="categories">
          {% for member in site.data.members %}
            <li>
              {{ member.name }}
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
